.day_nameS {
	font-size: 22px;
	font-weight: 400;
}
.day_blockS {
	width: 280px;
}

.lesson_blockS {
	width: 220px;
	height: 50px;
	border-radius: 15px;
}
.lesson_block_doubleS {
	width: 220px;
}
.lesson_backS {
	width: 160px;
	height: 28px;
	border-radius: 13px;
}
.lesson_nameS {
	font-size: 15px;
	font-weight: 500;
}
.empty_lessonS {
	font-size: 14px;
	font-weight: 600;
}
.empty_lesson1S {
	font-size: 14px;
	font-weight: 600;
	margin: 6px 0 6px 0;
}
.empty_lesson2S {
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 6px 0;
}



.mobile_more_info {
	width: 80vw;
	height: 86vh;
	background: #fff;
	border-radius: 14px;
	position: fixed;
	top: 101vh;
	left: 10vw;
	transition: top .2s;
}

.mobile_more_top {
	padding: 10px 10px 10px 20px;
	display: flex;
	justify-content: space-between;
}

.close_mobile_info {
	width: 16px;
	height: 16px;
	margin: 4px 14px 0 0;
	transition: margin .2s;
}
*{
   -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 600px) {
	.docs_view {
		width: 84vw;
		height: 60vh;
		background: #fff;
		border-radius: 14px;
		position: fixed;
		top: 101vh;
		left: 7vw;
		padding: 10px;
		overflow: auto;
		display: none;
		z-index: 999;
		transition: .2s;
		box-shadow: 0px 0px 14px 0px rgba(39, 39, 39, 0.2);
	}
	.back_mobile img {
		opacity: 1;
		transform: rotate(90deg);
		float: right;
	}
	.dark_background_for_close {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background: #000;
		display: none;
		opacity: .3;
	}
}


